---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
pre, code {
    font-size: 15px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.highlighter-rouge .highlight {
    background: #f9f9f9;
}

.post-list > li {
    margin-bottom: 0px;
}

.post-list h2 {
    margin-bottom: 0px;
}
